:root{
--main-color: #212121;
--box-color: #2F303A;
--accent-color: #2196F3;
--nav-color: #757575;
--btn-bg-color: #F5F4FA;
--bckground-color:#FFFFFF;
--bot-adress-color:rgba(255, 255, 255, 0.6);
--secondary-font-family: 'Raleway',
sans-serif;
--primaly-font-family: 'Roboto',
sans-serif;
}

body{
background-color: var(--bckground-color);
font-size: 14px;
letter-spacing: 0.03em;
font-family: var(--primaly-font-family);
line-height: 1.71;
}

.list{
list-style: none;   
}

.link{
text-decoration: none;
}

/*studio css*/

.site-studio {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--main-color);
text-decoration: none;
}
.box{
background-color: var(--box-color)
}
.box-title{
color: var(--bckground-color);
font-family: var(--primaly-font-family);
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
}

/*button*/

.button-text{
background-color: var(--accent-color);
color: var(--bckground-color);
font-family: var(--primaly-font-family);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
text-decoration: none;
}

.button-text:hover,
.button-text:focus{
cursor: pointer;
}

.benefits-title {
font-family: var(--primaly-font-family);
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
color: var(--main-color);
}

.benefits-text {
font-family: var(--primaly-font-family);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
color: var(--nav-color);
}

.site-portfolio {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--main-color);
text-decoration: none;
}
.title-working{
font-family: var(--primaly-font-family);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--main-color);
}

.team{
font-family: var(--primaly-font-family);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--main-color);
}
.team-title{
font-family: var(--primaly-font-family);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.1;
letter-spacing: 0.03em;
color: var(--main-color);
}
.team-text{
font-family: var(--primaly-font-family);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.1;
letter-spacing: 0.03em;
color: var(--nav-color);
}

/* bar&logo*/

.logo{
color: var(--main-color);
font-family: var(--secondary-font-family);
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em; 
text-decoration: none;
}

.blue-color{
color: var(--accent-color);
}

/*site nav*/

.site-nav a:focus,
.site-nav a:hover {
color: var(--accent-color);
}

.site-portfolio{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--main-color);
text-decoration: none;
}

.site-contacts{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--main-color);
text-decoration: none;
}

/*auth-nav list*/

.auth-nav a{
color: var(--nav-color);
}

.auth-nav a:focus,
.auth-nav a:hover{
color: var(--accent-color);
}

.auth-mail{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration: none;
}
.auth-number{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration: none;
}

.hide{
display: none;
}

/*buttons*/

.btn-all{
font-style: medium;
font-weight: 500;
font-size: 16px;
line-height: 26px;
background: var(--btn-bg-color);
}
.btn-site{
font-style: medium;
font-weight: 500;
font-size: 16px;
line-height: 26px;
background: var(--btn-bg-color);
}
.btn-app{
font-style: medium;
font-weight: 500;
font-size: 16px;
line-height: 26px;
background: var(--btn-bg-color);
}
.btn-design{
font-style: medium;
font-weight: 500;
font-size: 16px;
line-height: 26px;
background: var(--btn-bg-color);
}
.btn-marketing{
font-style: medium;
font-weight: 500;
font-size: 16px;
line-height: 26px;
background: var(--btn-bg-color);
}

.btn button:focus,
.btn button:hover {
background-color: var(--accent-color);
color: var(--btn-bg-color);
cursor: pointer;
}

/*photo blocks*/
.card-title{
    font-family: var(--primaly-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.card-text{
    font-family: var(--primaly-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--nav-color);
}

/*footer bar*/

.bot{
    background-color: #2F303A;
}

.bot-logo{
    font-family:var(--secondary-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--bckground-color);
    text-decoration: none;
}
.bot-str{
    font-family: var(--primaly-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--bckground-color);
    text-decoration: none;
}
.bot-mail{
    font-family: var(--primaly-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--bot-adress-color);
    text-decoration: none;
}
.bot-number{
    font-family: var(--primaly-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--bot-adress-color);
    text-decoration: none;
}

